<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Hello, I am your coach, what did you want to tell me?">
  <input type="submit" value="Go on!">
</form>
